In [2]:
name1 = "Sam"
name2 = "Muhammad"
name3 = "David"

In [3]:
name_list = ["Sam", "Muhammad", name3]

In [4]:
name_list

['Sam', 'Muhammad', 'David']

In [6]:
name_list[1] # Computers count from 0

'Muhammad'

In [7]:
name_list[3]

IndexError: list index out of range

In [8]:
name_list[2.0]

TypeError: list indices must be integers or slices, not float

In [9]:
name_list[-1]

'David'

In [10]:
name_list[-2]

'Muhammad'

In [11]:
name_list[-3]

'Sam'

In [12]:
name_list[-4]

IndexError: list index out of range

In [13]:
name_list

['Sam', 'Muhammad', 'David']

In [14]:
name_list.append(5)

In [15]:
name_list

['Sam', 'Muhammad', 'David', 5]

In [16]:
type(name_list[-1])

int

In [17]:
name_list[:]

['Sam', 'Muhammad', 'David', 5]

In [18]:
name_list[1:3]

['Muhammad', 'David']

In [19]:
name_list[:3]

['Sam', 'Muhammad', 'David']

In [20]:
name_list[1:]

['Muhammad', 'David', 5]

In [21]:
index = 2
first_half = name_list[:index]
second_half = name_list[index:]

In [22]:
first_half

['Sam', 'Muhammad']

In [23]:
second_half

['David', 5]

In [24]:
name_list

['Sam', 'Muhammad', 'David', 5]

In [25]:
name_list.remove(5)

In [26]:
name_list

['Sam', 'Muhammad', 'David']

In [27]:
name_list.append("Muhammad")

In [28]:
name_list

['Sam', 'Muhammad', 'David', 'Muhammad']

In [29]:
name_list.remove("Muhammad")

In [30]:
name_list

['Sam', 'David', 'Muhammad']

In [31]:
name_list.pop()

'Muhammad'

In [32]:
name_list

['Sam', 'David']

In [33]:
name_list.pop(0)

'Sam'

In [34]:
name_list

['David']

In [35]:
first_half

['Sam', 'Muhammad']

In [36]:
second_half

['David', 5]

In [37]:
name_list.append(first_half)

In [38]:
name_list

['David', ['Sam', 'Muhammad']]

In [39]:
len(name_list)

2

In [40]:
name_list[1][0]

'Sam'

In [41]:
name_list[1]

['Sam', 'Muhammad']

In [42]:
name_list.extend(second_half)

In [43]:
name_list

['David', ['Sam', 'Muhammad'], 'David', 5]

In [44]:
len(name_list)

4

In [45]:
name_list[2]

'David'

In [46]:
del name_list[1]

In [47]:
name_list

['David', 'David', 5]

In [48]:
del name_list

In [49]:
name_list

NameError: name 'name_list' is not defined

In [50]:
name_list = []

In [51]:
name_list.extend(first_half)

In [52]:
name_list.extend(second_half)

In [53]:
name_list

['Sam', 'Muhammad', 'David', 5]

In [55]:
for name in name_list:
    print(name, name*5)

Sam SamSamSamSamSam
Muhammad MuhammadMuhammadMuhammadMuhammadMuhammad
David DavidDavidDavidDavidDavid
5 25

In [56]:
for i in range(len(name_list)):
    print(name_list[i]*5)

SamSamSamSamSam
MuhammadMuhammadMuhammadMuhammadMuhammad
DavidDavidDavidDavidDavid
25

In [58]:
for i, name in enumerate(name_list):
    print(i, name*5)

0 SamSamSamSamSam
1 MuhammadMuhammadMuhammadMuhammadMuhammad
2 DavidDavidDavidDavidDavid
3 25

## Dictionaries

In [59]:
def trippleAddition(num1, num2, num3=10):
    return num1+num2+num3

In [60]:
trippleAddition(1, 5, 10)

16

In [61]:
trippleAddition(num2 = 4, num1 = 10)

24

In [62]:
name_dict = {"sam": "programming", "david": "data prep", "taufique":"stats"} # key: value

In [63]:
name_dict["sam"]

'programming'

In [64]:
name_dict[0]

KeyError: 0

In [66]:
name_dict["programming"]

KeyError: 'programming'

In [67]:
name_dict["muhammad"] = "machine learning"

In [68]:
name_dict

{'sam': 'programming',
 'david': 'data prep',
 'taufique': 'stats',
 'muhammad': 'machine learning'}

In [69]:
name_dict["muhammad"]

'machine learning'

In [70]:
name_dict["muhammad"] = "big data"

In [71]:
name_dict["muhammad"]

'big data'

In [72]:
import pandas as pd

In [75]:
ages = [10, 20, 25, 33, 44, 55]
names = ["alice", "bob", "carl", "donal", "eoin", "fionn"]

In [76]:
df = pd.DataFrame({
    "Age" : ages,
    "Name": names
})

In [77]:
df

   Age   Name
0   10  alice
1   20    bob
2   25   carl
3   33  donal
4   44   eoin
5   55  fionn

## Tuple

In [78]:
name_tuple = ("Sam", "David", "Muhammad")

In [79]:
name_tuple[0]

'Sam'

In [80]:
name_tuple[-1]

'Muhammad'

In [81]:
name_tuple[0] = "Taufique"

TypeError: 'tuple' object does not support item assignment

In [82]:
def multiReturn():
    return 1, 2, 3

In [85]:
a=multiReturn()

In [86]:
a

(1, 2, 3)

In [87]:
b, c, d = multiReturn()

In [88]:
b

1

In [89]:
c

2

In [90]:
d

3

In [92]:
df

   Age   Name
0   10  alice
1   20    bob
2   25   carl
3   33  donal
4   44   eoin
5   55  fionn

In [95]:
df.drop(columns=["Age", "Name"])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

In [96]:
df

   Age   Name
0   10  alice
1   20    bob
2   25   carl
3   33  donal
4   44   eoin
5   55  fionn

In [97]:
df.drop(columns=["Age", "Name"], inplace=True)

In [98]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

In [99]:
def makedf():
    df = pd.DataFrame({
    "Age" : ages,
    "Name": names
    })
    return df

In [100]:
df = makedf()

In [101]:
df

   Age   Name
0   10  alice
1   20    bob
2   25   carl
3   33  donal
4   44   eoin
5   55  fionn

In [106]:
df.drop(index=[2, 3])

   Age   Name
0   10  alice
1   20    bob
4   44   eoin
5   55  fionn

In [107]:
df["Age"] % 2 == 0

0     True
1     True
2    False
3    False
4     True
5    False
Name: Age, dtype: bool

In [108]:
df[df["Age"] % 2 == 0]

   Age   Name
0   10  alice
1   20    bob
4   44   eoin